# Milestone 4

In [2]:
import numpy as np
import pandas as pd

In [6]:
df = pd.DataFrame(pd.read_csv("Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_-_FY2020.csv"))

## How many different companies are represented in the data set?

In [72]:
df["Company Name"].info
len(df["Company Name"].unique())
#df["Company Name"]

439

In [14]:
df.head()

,Company Name,company contact,company email,company phone,Address,City,State,Postcode,Industry,Industry descr,...,Savings from beginning receiving benefits,Borough,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,1 State Street,David Neiburg,eskoblo@energyspec.com,7186779077,1114 Avenue J,Brooklyn,NY,11230,Commercial,35 story building,...,349.78,Brooklyn,40.624784,-73.964920,314.0,44.0,534.0,3179818.0,3.067130e+09,Midwood
1,100 Church LLC,Edward A. Carroll,NaN,2125663000,100 Church Street,NY,NY,10007,Commercial,21 Floors,...,4423698.05,New York,40.712968,-74.009490,101.0,1.0,21.0,1001409.0,1.001250e+09,SoHo-TriBeCa-Civic Center-Little Italy
2,100 Wall Investments,Jerry Branam,NaN,2122487160,96 Wall Street,New York,NY,10005,Landlord,NaN,...,1814542.62,New York,40.705052,-74.007199,101.0,1.0,7.0,1000875.0,1.000380e+09,Battery Park City-Lower Manhattan
3,1-10 Bush Terminal Owner LP,Andrew Kimball,akimball@industrycity.com,3474178429,"220 36th St, Suite 2A",Brooklyn,NY,11232,Landlord,Special Eligible Premises for eligible businesses,...,6755.31,Brooklyn,40.656061,-74.007334,307.0,38.0,2.0,3398687.0,3.006950e+09,Sunset Park West
4,"120 Broadway Acquisitions JV, LLC (Ldmk)",Carl Letich,clettich@silvprop.com,2124064020,120 Broadway,New York,NY,10271,Commercial,NaN,...,3293055.08,New York,40.708546,-74.011041,101.0,1.0,7.0,1001026.0,1.000478e+09,Battery Park City-Lower Manhattan

In [15]:
df.columns

Index(['Company Name', 'company contact', 'company email', 'company phone',
       'Address', 'City', 'State', 'Postcode', 'Industry', 'Industry descr',
       'Company Type', 'Current fulltime', 'Job created', 'Job retain',
       'Effective Date', 'Total Savings',
       'Savings from beginning receiving benefits', 'Borough', 'Latitude',
       'Longitude', 'Community Board', 'Council District', 'Census Tract',
       'BIN', 'BBL', 'NTA'],
      dtype='object')

## What is the total number of jobs created for businesses in Queens?

In [28]:
gb = df.groupby(['City'])
gb.get_group("Queens")["Job created"].sum()

90.0

In [65]:
domain_split = df["company email"].dropna().apply(lambda em: em.split("@"))
[x for x in domains if len(x)==1]

[['billieannplastics.com'],
 ['jgewitrtzbrooklynnets.com'],
 ['officegreenfelds.com'],
 ['adenovarebiologistics.com'],
 ['urbangreenfurniture.com']]

In [67]:
domains = df["company email"].dropna().apply(lambda em: em.split("@")[-1])

## How many different unique email domains names are there in the data set?

In [68]:
len(domains.unique())

361

## Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?

In [158]:
df['freq_count'] = df.groupby("NTA")["NTA"].transform('count')
df[['freq_count','NTA','Savings from beginning receiving benefits']]

,freq_count,NTA,Savings from beginning receiving benefits
0,3.0,Midwood,349.78
1,5.0,SoHo-TriBeCa-Civic Center-Little Italy,4423698.05
2,9.0,Battery Park City-Lower Manhattan,1814542.62
3,48.0,Sunset Park West,6755.31
4,9.0,Battery Park City-Lower Manhattan,3293055.08
...,...,...,...
445,10.0,Bushwick South,965843.58
446,10.0,Bushwick South,3585.40
447,3.0,Mariner's Harbor-Arlington-Port Ivory-Granitev...,20487.73
448,9.0,Crown Heights North,12287.32
449,3.0,Astoria,0.00

In [162]:
df1 = df[df['freq_count']>4]

In [179]:
group_obj1 = df1.groupby('NTA')[['freq_count','NTA','Savings from beginning receiving benefits','Job created']]

In [186]:
df2 = group_obj1.agg(savings=pd.NamedAgg(column='Savings from beginning receiving benefits',aggfunc = 'mean'),
                    job_created_total=pd.NamedAgg(column='Job created',aggfunc = 'sum'), 
                     count=pd.NamedAgg(column='freq_count',aggfunc = 'mean'))

In [187]:
df2.wr

,savings,job_created_total,count
NTA,,,
Battery Park City-Lower Manhattan,3.798151e+06,0.0,9.0
Bushwick South,3.078000e+05,10.0,10.0
Carroll Gardens-Columbia Street-Red Hook,1.846839e+05,0.0,11.0
College Point,5.742508e+05,2.0,7.0
Crown Heights North,1.716897e+04,0.0,9.0
DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,4.373905e+05,0.0,10.0
East New York,4.579454e+05,15.0,9.0
East Williamsburg,1.433695e+05,0.0,11.0
Greenpoint,1.772221e+05,0.0,14.0
Hunters Point-Sunnyside-West Maspeth,1.606093e+05,0.0,75.0
Hunts Point,3.976354e+05,12.0,13.0
Manhattanville,2.203059e+04,0.0,9.0
Maspeth,2.078318e+04,10.0,9.0
Mott Haven-Port Morris,1.599056e+05,10.0,14.0
Queensbridge-Ravenswood-Long Island City,4.471987e+05,0.0,16.0
SoHo-TriBeCa-Civic Center-Little Italy,9.908676e+05,0.0,5.0
Springfield Gardens South-Brookville,3.620289e+05,0.0,5.0
Steinway,2.557695e+05,20.0,7.0
Sunset Park West,1.392565e+05,0.0,48.0
park-cemetery-etc-Brooklyn,3.674033e+04,0.0,15.0

In [188]:
df2.to_csv('NTAs_5_businesses.csv')